@model Monafasati.Core.Entity.Monafsa

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Monafsa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Advertiser" class="control-label"></label>
                <input asp-for="Advertiser" class="form-control" />
                <span asp-validation-for="Advertiser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastDate" class="control-label"></label>
                <input asp-for="LastDate" class="form-control" />
                <span asp-validation-for="LastDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatuId" class="control-label"></label>
                <select asp-for="StatuId" class ="form-control" asp-items="ViewBag.StatuId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EngineerId" class="control-label"></label>
                <select asp-for="EngineerId" class ="form-control" asp-items="ViewBag.EngineerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Sadad" class="control-label"></label>
                <input asp-for="Sadad" class="form-control" />
                <span asp-validation-for="Sadad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
